*{
	padding:0px;
	margin:0px;

}
ul{
	list-style-type: none;
}
#container{
	width:970px;
	padding:25px 0px 25px 0px;
	background: #EEEEEE
}

.boxblue{
	border:1px solid black;
	margin-bottom:1px;
	width: 30px;
	height: 30px;
	padding:7px;
	text-align: center;
	font-size:0.6em;
	background:#689BFF;
}


.boxred{
	border:1px solid black;
	margin-bottom:1px;
	width: 30px;
	height: 30px;
	padding:7px;
	text-align: center;
	font-size:0.6em;
	background:#FD9A98;
}

.boxyellow{
	border:1px solid black;
	margin-bottom:1px;
	width: 30px;
	height: 30px;
	padding:7px;
	text-align: center;
	font-size:0.6em;
	background:#FECB00;
}

.boxgreen{
	border:1px solid black;
	margin-bottom:1px;
	width: 30px;
	height: 30px;
	padding:7px;
	text-align: center;
	font-size:0.6em;
	background:#1FCA21;
	display:inline-block;
}

.boxclearhorizontal{
	margin:1px;
	margin-bottom:1px;
	width: 30px;
	height: 30px;
	padding:7px;
	text-align: center;
	font-size:0.6em;
	display:inline-block;
	color:red;
}

.boxbottom{
	margin:1px;
	margin-bottom:1px;
	width: 100px;
	height: 30px;
	padding:7px;
	text-align: center;
	font-size:0.6em;
	display:inline-block;
	color:red;
}

span.element{
	display:block;
	font-size:1em;
	font-weight: 600;
}

.boxclearvertical{
	margin:1px;
	margin-bottom:0px;
	width: 30px;
	height: 30px;
	padding:7px;
	text-align: center;
	font-size:0.6em;
	color:red;
}

.panel{
	display: inline-block;
}


.toppanel{
	display:inline-block;
	margin-left:15px;
}


#top{
	margin-left:15px;
	margin-top:5px;
}

#bottom{
	margin-top:25px;
	margin-left:44px;
	width:850px;
	display:inline-block;
}







